:root {
  --black: #131313;
  --white: #e5e5e5;
}

html {
  background-color: var(--black);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 4vh;
  padding-top: 5vh;
  padding-bottom: 10vh;
}

.keywords {
  display: none;
}

h1, h2 {
  margin: 0;
  padding: 0;
}

h1 {
  color: var(--black);
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

h2 {
  color: var(--black);
  font-family: "Freckle Face", system-ui;
  font-weight: 400;
  font-style: italic;
  font-size: 32px;
}

p, a {
  color: var(--black);
  font-family: "Freckle Face", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

a:visited {
  color: unset;
}

.links {
  display: flex;
  gap: 5vw;
}

.tags {
  display: flex;
  gap: 2vw;
  flex-wrap: wrap;
}

.tags > p {
  font-family: "Indie Flower", cursive;
  font-size: 16px;
  padding: 0.5vh 2vw;
  margin: 0;
  border-radius: 6px;
  color: var(--white);
  background-color: var(--black);
}

#background-gradient-1 {
  opacity: 0.25;
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: animate-gradient 10s ease infinite;
  /* stylelint-disable-next-line */
  background: repeating-radial-gradient(
    circle at center in hsl longer hue,
    red 60px,
    yellow 30px
  );
  background-position: center;
}

#background-gradient-2 {
  z-index: -2;
  position: fixed;
  width: 100%;
  height: 100%;
  animation: animate-gradient 10s linear infinite;
  background: repeating-conic-gradient(
    in hsl shorter hue,
    red 0%,
    yellow 10%,
    red 20%
  );
  background-position: center;
}

@keyframes animate-gradient {
  0% {
    filter: hue-rotate(0);
  }

  50% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0);
  }
}

@media screen and (width > 800px) {
  main {
    width: 33%;
  }

  .links {
    gap: 2vw;
  }
  
  .tags {
    gap: 1vw;
  }

  .tags > p {
    padding: 0.5vh 0.75vw;
  }
}